body {
  background: #ffffff;
  font-family: "Lato", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
  color: #47474e;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}
input {
    padding: 10px;
}
input[type="submit" i] {
    outline: none;
    cursor: pointer;
    background: #4183c4;
    border: none;
    padding: 12px;
    color: white;
}
input[type="submit" i]:hover {
    background: #519fec;
}
.comment {
    background-color: #efefef;
    padding: 10px 20px;
    margin: 10px auto;
}
.commentForm {
    background-color: #f0f8ff;
    padding: 10px;
}
.commentList {
    background-color: #ffffff;
    padding: 10px;
}
.commentBox {
    background-color: #fa8072;
    padding: 10px;
}
.commentBox h2 {
    color: white;
    font-family: 'Intro Inline'
}
